@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

.glow {
  text-shadow: 0 0 10px #3b82f6, 0 0 20px #3b82f6;
}

.glow-border {
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.6);
}



/* about css */
.perspective {
  perspective: 1000px;
}

.flip-card {
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}




/* form */

.input-style {
  @apply p-3 rounded-lg bg-black/30 border border-blue-400/30 
  text-white focus:outline-none focus:border-blue-400 
  focus:ring-2 focus:ring-blue-500 transition w-full;
}